@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800|Arial:100,200,300,400,500,600,700,800');


/*......Heading*/
.header{
    text-align: center;
    margin-top:20px;
}

.title {
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    color:#004054;
    text-decoration: none;
   }


