@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800|Arial:100,200,300,400,500,600,700,800');


/*......Heading*/

/*....a:hover removes underline when hovering mouse over a link*/

.paddingtitle{
    padding-top:25px;
    text-align: center;
}

.search{
    padding-top: 28px;
    padding-left: 40px;
    position:fixed;
    max-width:302px;
}

.title {
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color:#004054;
    text-decoration: none;
    padding-top: 25px;
    position: fixed;
    top: 0.5%;
    left: 33%;
   }


.title:before {
  content: "";
  position: absolute;
  width: 650px;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.title:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover { 
text-decoration: none; 
}




/*--------------------------------------------Footer*/

.footer {
    background-color:#004054;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

.footer .cv-pdf i:hover {
    color: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}

