@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800|Arial:100,200,300,400,500,600,700,800');


/*......Heading*/

/*....a:hover removes underline when hovering mouse over a link*/

.paddingtitle{
    padding-top:25px;
    text-align: center;
}

.search{
    padding-top: 28px;
    padding-left: 40px;
    position:fixed;
}

.title {
    font-family: "Nunito", Arial;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    color:#004054;
    text-decoration: none;
    padding-top: 25px;
    position: fixed;
    top: 0.5%;
    left: 33%;
   }


.title:before {
  content: "";
  position: absolute;
  width: 650px;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

.title:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover { 
text-decoration: none; 
}




/*--------------------------------------------Footer*/

.logo{
    background-repeat: no-repeat;
    max-height: 80px;
    position:fixed;
    padding-left: 65px;
    margin-top: 40px;
    margin-bottom: 40px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
